@custom-media --motionOK (prefers-reduced-motion: no-preference);

:root {
  --surface1: lch(10 0 0);
  --surface2: lch(15 0 0);
  --surface3: lch(20 0 0);
  --surface4: lch(25 0 0);

  --text1: lch(95 0 0);
  --text2: lch(75 0 0);

  --brand: lch(89.914, 38.419, 179.095);
  /* #00FFDE */
  --brand-bg1: lch(62.653 20.941 184.819);
  /*#49a79b */
  --brand-bg2: lch(40 84 300);
  /*#6246d8 */

  --brand-bg-gradient:
    linear-gradient(to bottom,
      var(--brand-bg1),
      var(--brand-bg1));

  --thumb-highlight-color: lch(100 0 0 / 20%);

  --space-xxs: .25rem;
  --space-xs: .5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;

  --isLTR: 1;
  --isRTL: -1;

  &:dir(rtl) {
    --isLTR: -1;
    --isRTL: 1;
  }
}

[data-theme="dark"] {
  --surface1: lch(90 0 0);
  --surface2: lch(100 0 0);
  --surface3: lch(98 0 0);
  --surface4: lch(85 0 0);

  --text1: lch(20 0 0);
  --text2: lch(40 0 0);


  --brand: lch(89.914, 38.419, 179.095);
  /* #00FFDE */
  --brand-bg1: lch(62.653 20.941 184.819);
  /*#49a79b */
  --brand-bg2: lch(40 84 300);
  /*#6246d8 */

  --thumb-highlight-color: lch(0 0 0 / 20%);
}


html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;

  box-sizing: border-box;
  margin: 0;
  padding-block: var(--space-xs);

  background: var(--surface1);
  color: var(--text1);
  font-family: system-ui, sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;
}

/*
main {
  display: grid;
  gap: var(--space-xl);
  place-content: center;
  padding: var(--space-sm);

  @media (width >=540px) {
    & {
      padding: var(--space-lg);
    }
  }

  @media (width >=800px) {
    & {
      padding: var(--space-xl);
    }
  }
}
*/
main {
  display: grid;
  gap: var(--space-xl);
  place-content: center;
  padding: var(--space-sm);

  @media (min-width: 540px) {
    padding: var(--space-lg);
  }

  @media (min-width: 800px) {
    padding: var(--space-xl);
  }
}

/*
form {
  max-width: 89vw;
  display: grid;
  gap: var(--space-xl) var(--space-xxl);
  --repeat: auto-fit;
  grid-template-columns:
    repeat(var(--repeat), minmax(min(10ch, 100%), 35ch));
  align-items: flex-start;

  @media (orientation: landscape) and (width >=640px) {
    & {
      --repeat: 2;
    }
  }
}
*/
form {
  max-width: 89vw;
  display: grid;
  gap: var(--space-xl) var(--space-xxl);
  --repeat: auto-fit;
  grid-template-columns: repeat(var(--repeat), minmax(min(10ch, 100%), 35ch));
  align-items: flex-start;

  @media (orientation: landscape) and (min-width: 640px) {
    --repeat: 2;
  }
}

section {
  display: grid;
  gap: var(--space-md);
}

/* Define grid areas for the sections */
section:nth-child(1) {
  grid-area: sec1;
}

section:nth-child(2) {
  grid-area: sec2;
}

section:nth-child(3) {
  grid-area: sec3;
}

/* Define the grid layout for the sections */
form {
  grid-template-areas:
    "sec1 sec2"
    "sec1 sec3";
}

/* Adjust grid layout for smaller screens */
@media (orientation: portrait) {
  form {
    grid-template-areas:
      "sec1"
      "sec2"
      "sec3";
  }
}













/*  */
header {
  display: grid;
  gap: var(--space-xxs);
}

fieldset {
  border: 1px solid var(--surface4);
  background: var(--surface4);
  padding: 0;
  margin: 0;
  display: grid;
  gap: 1px;
  border-radius: var(--space-sm);
  overflow: hidden;
  transition: box-shadow .3s ease;

  &:focus-within {
    box-shadow: 0 5px 20px -10px hsl(0 0% 0% / 50%);
  }
}

input[type="range"] {
  --track-height: .5ex;
  --track-fill: 0%;
  --thumb-size: 3ex;
  --thumb-offset: -1.25ex;
  --thumb-highlight-size: 0px;

  display: block;
  inline-size: 100%;
  margin: 1ex 0;
  appearance: none;
  background: transparent;
  outline-offset: 5px;

  @media (hover: none) {
    & {
      --thumb-size: 30px;
      --thumb-offset: -14px;
    }
  }

  &::-webkit-slider-runnable-track {
    appearance: none;
    block-size: var(--track-height);
    border-radius: 5ex;
    background:
      linear-gradient(to right,
        transparent var(--track-fill),
        var(--surface1) 0%),
      var(--thumb-highlight-color) fixed;
  }

  &::-moz-range-track {
    appearance: none;
    block-size: var(--track-height);
    border-radius: 5ex;
    background:
      linear-gradient(to right,
        transparent var(--track-fill),
        var(--surface1) 0%),
      var(--brand-bg-gradient) fixed;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    cursor: ew-resize;
    border: 3px solid var(--surface3);
    block-size: var(--thumb-size);
    inline-size: var(--thumb-size);
    margin-block-start: var(--thumb-offset);
    border-radius: 50%;
    background: var(--brand-bg-gradient) fixed;
    box-shadow: 0 0 0 var(--thumb-highlight-size) var(--thumb-highlight-color);

    @media (--motionOK) {
      & {
        transition: box-shadow .1s ease;
      }
    }

    @nest .fieldset-item:focus-within & {
      border-color: var(--surface2);
    }
  }

  &::-moz-range-thumb {
    appearance: none;
    cursor: ew-resize;
    border: 3px solid var(--surface3);
    block-size: var(--thumb-size);
    inline-size: var(--thumb-size);
    margin-block-start: var(--thumb-offset);
    border-radius: 50%;
    background: var(--brand-bg-gradient) fixed;
    box-shadow: 0 0 0 var(--thumb-highlight-size) var(--thumb-highlight-color);

    @media (--motionOK) {
      & {
        transition: box-shadow .1s ease;
      }
    }

    @nest .fieldset-item:focus-within & {
      border-color: var(--surface2);
    }

  }

  &:is(:hover, :active) {
    --thumb-highlight-size: 10px;
  }
}

input[type="checkbox"] {
  inline-size: var(--space-sm);
  block-size: var(--space-sm);
  margin: 0;
  outline-offset: 5px;
  accent-color: var(--brand);
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;

  &:hover::before {
    --thumb-scale: 1;
  }

  @media (hover: none) {
    & {
      inline-size: var(--space-md);
      block-size: var(--space-md);
    }
  }

  &::before {
    --thumb-scale: .01;
    --thumb-highlight-size: var(--space-xl);

    content: "";
    inline-size: var(--thumb-highlight-size);
    block-size: var(--thumb-highlight-size);
    clip-path: circle(50%);
    position: absolute;
    inset-block-start: 50%;
    inset-inline-start: 50%;
    background: var(--thumb-highlight-color);
    transform-origin: center center;
    transform:
      translateX(calc(var(--isRTL) * 50%)) translateY(-50%) translateZ(-1px) scale(var(--thumb-scale));
    will-change: transform;

    @media (--motionOK) {
      & {
        transition: transform .2s ease;
      }
    }
  }
}

.fieldset-item {
  background: var(--surface3);
  transition: background .2s ease;

  display: grid;
  grid-template-columns: var(--space-lg) 1fr;
  gap: var(--space-md);

  padding-block: var(--space-sm);
  padding-inline: var(--space-md);

  @media (width >=540px) {
    grid-template-columns: var(--space-xxl) 1fr;
    gap: var(--space-xs);
    padding-block: var(--space-md);
    padding-inline: 0 var(--space-xl);
  }

  &:focus-within {
    background: var(--surface2);

    & svg {
      fill: white;
    }

    & picture {
      clip-path: circle(50%);
      background: var(--brand-bg-gradient) fixed;
    }
  }

  &> :is(.input-stack, label) {
    display: grid;
    gap: var(--space-xs);
  }

  &>.input-stack>label {
    display: contents;
  }

  &>picture {
    block-size: var(--space-xl);
    inline-size: var(--space-xl);
    clip-path: circle(40%);
    display: inline-grid;
    place-content: center;
    background: var(--surface3) fixed;

    @media (--motionOK) {
      & {
        transition: clip-path .3s ease;
      }
    }
  }

  & svg {
    fill: var(--text2);
    block-size: var(--space-md);
  }

  &> :is(picture, input[type="checkbox"]) {
    place-self: center;
  }
}

.single-item {
  background: var(--surface3);
  transition: background .2s ease;

  display: grid;
  /* grid-template-columns: var(--space-lg) 1fr;  */
  /* gap: var(--space-md); */

  padding-block: var(--space-md);
  padding-inline: var(--space-xl);
}

small {
  color: var(--text2);
  line-height: 1.5;
}

.github-corner {
  color: var(--surface1);
  fill: var(--surface3);

  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}


/*  BUTTON */

button {
  /* --top: 50%;
  --left: 50%;
  --size: 100%; */
  --background: var(--brand);
  --color: var(--brand);
  /* :p */
  --border: none;
  color: var(--color);
  --background: none;
  border: 1px solid var(--border);

  font-family: inherit;
  padding: 0.5rem 1.25rem;
  font-size: 0.9rem;
  border-radius: 5px;
  font-weight: 500;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  /* overflow and position matching the pseudo elements */
  overflow: hidden;
  position: relative;
  /* remove the default outline
! substituted with the pseudo elements
*/
  outline: none;
}

/* with a pseudo element add a semitransparent layer with the same color of the text */
button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: currentColor;
  border-radius: inherit;
  opacity: 0;
}

button:focus:before,
button:hover:before {
  opacity: 0.1;
}

/* with another pseudo element add a semitransparent layer clipped to be a circle */
button:after {
  content: "";
  position: absolute;
  top: var(--top);
  left: var(--left);
  transform: translate(-50%, -50%);
  width: var(--size);
  height: var(--size);
  background: currentColor;
  clip-path: circle(0%);
  opacity: 0.3;
  border-radius: inherit;
}

/*
! add the transition only as the active state is "enabled"
! add a negative delay for the clip to already start from a small circle
! add a delay for the opacity to follow the clip-path
*/
button:active:after {
  clip-path: circle(100%);
  opacity: 0;
  transition: clip-path 0.5s cubic-bezier(0.55, 0.085, 0.68, 2.5), opacity 0.4s ease-in-out;
  transition-delay: -0.1s, 0.5s;
}

.input-field {
  font-size: 1.0rem;
}

.drop-down {
  font-size: 1.0rem;
}

.timezone-selectors {
  font-size: 1.0rem;
}

#eventsCalCountry {
  font-size: 1.0rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#theme-toggle {
  margin-left: 10px;
}